<main>
    <div class="uk-container">
        <div class="row">
            <div class="col">
                <!-- USER INFO -->
                <div class="my-5">
                    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-3@s uk-margin" uk-grid>
                        <div class="uk-card-media-left uk-cover-container">
                            <img src="/Assets/images/portrait7.jpg" alt="">
                        </div>
                        <div>
                            <div class="uk-card-body">
                                <h2 class="uk-card-title main-text"><%= tutor.firstName %> <%= tutor.lastName %></h2>
                                <p class="text-muted"><%= tutor.userType %> since: <%= tutor.dateCreated.getFullYear() %></p>
                                <p class="text-justify main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum a quod odit, tenetur porro quas repellendus corrupti mollitia, temporibus at aut quisquam? Tempora consequuntur minima tenetur exercitationem nesciunt velit obcaecati.</p>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card-body">
                                <h3 class="uk-card-title main-text">$<%= tutor.hourlyRate %> / hr</h3>                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <!-- REVIEW FORM -->
                <h2>Leave a Review</h2>
                <form action="/tutor/<%= tutor._id %>/reviews" method="POST" novalidate class="validated-form">
                    <div class="mb-3">
                        <label class="form-label" for="rating">Rating</label>
                        <input class="form-range" id="rating" type="range" min="1" max="5" name="rating">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="reviewBody">Review</label>
                        <textarea class="form-control" id="reviewBody" name="reviewBody" cols="50" rows="3" required></textarea>
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>

            <div class="col-6">
                <!-- REVIEWS -->
                <h2>Reviews</h2>
                <% for(let review of tutor.reviews) { %> 
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5>Rating: <%= review.rating %></h5>
                            <p><%= review.reviewBody %></p>

                            <form action="/tutor/<%= tutor._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</main>
