    <div class="uk-container uk-card uk-card-default uk-card-hover my-5 py-5" uk-scrollspy="target: > div; cls: uk-animation-slide-bottom-medium; delay: 100; repeat: true">
        <h1 class="main-text">Your Account</h1>
        <div>
            <div uk-grid>
                <div class="uk-width-auto@m">
                    <ul class="uk-tab-left" uk-tab="connect: #component-tab-left; animation: uk-animation-fade">
                        <li class="main-text"><a href="#">Account Details</a></li>
                        <li class="main-text"><a href="#">Update Photo</a></li>
                        <li class="main-text"><a href="#">Update Contact Details</a></li>
                        <li class="main-text"><a href="#">Update Password</a></li>
                        <% if( userPayload.userType == 'student') { %>
                            <li class="main-text"><a href="#">Become a Tutor</a></li>
                        <% } else { %>
                            <li class="main-text"><a href="#">Update Tutorial Services</a></li>
                        <% } %>
                    </ul>
                </div>
                <div class="uk-width-expand@m">

                    

                        <ul id="component-tab-left" class="uk-switcher">

                            <!-- BEGIN SECTION : ACCOUNT DETAILS -->
                            <li>
                                <h2 class="main-text">Account Details</h2>
                                <!-- FIRSTNAME -->
                                <form action="" class="uk-form-horizontal">
                                    <div class="mb-3">
                                        <label class="uk-form-label uk-text-large" for="firstName">First Name</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-form-large " disabled id="firstName" type="text" value="<%= userPayload.firstName %>">
                                        </div>
                                    </div>

                                    <!-- LASTNAME -->
                                    <div class="mb-3">
                                        <label class="uk-form-label uk-text-large" for="lastName">Last Name</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-form-large " disabled id="lastName" type="text" value="<%= userPayload.lastName %>">
                                        </div>
                                    </div>

                                    <!-- EMAIL -->
                                    <div class="mb-3">
                                        <label class="uk-form-label uk-text-large" for="email">Email</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-form-large " disabled id="email" type="email" value="<%= userPayload.email %>">
                                        </div>
                                    </div>
                                </form>

                            </li>
                            <!-- END SECTION : ACCOUNT DETAILS -->

                            <!-- BEGIN SECTION : UPDATE PHOTO -->
                            <li class="text-center">
                                <form action="" class="uk-form-horizontal" method="POST">
                                    <h2 class="text-left main-text">Update Photo</h2>

                                    <input value="<%= userPayload._id %>" name="id" hidden>
                                    <input value="update photo" name="action" hidden>

                                    <img id="profilePic" class="uk-border-circle w-50 m-auto" src="/Assets/images/portrait1.jpg" alt="">
                                    <div class="text-center mt-5 pt-5 m-auto w-100">
                                        <div uk-form-custom>
                                            <input id="" type="file" accept="image/*" onchange="previewFile(this);">
                                            <button class="uk-button uk-button-secondary main-text" type="button" tabindex="-1" name="photo" id="photo">Choose Your Best Photo</button>
                                        </div>
                                        <button class="uk-button uk-button-primary main-text" type="submit" id="sendButton"><span uk-icon="sign-in"></span> Update Photo</button>
                                    </div>  
                                </form>
                            </li>
                            <!-- END SECTION : UPDATE PHOTO -->

                            <!-- BEGIN SECTION : UPDATE CONTACT DETAILS -->
                            <li>
                                <h2 class="main-text">Update Contact Details</h2>
                                <form action="" class="uk-form-horizontal" method="POST">
                                    
                                    <input value="<%= userPayload._id %>" name="id" hidden>
                                    <input value="update contact" name="action" hidden>

                                    <!-- TELEPHONE -->
                                    <div class="mb-3">
                                        <label class="uk-form-label uk-text-large" for="phone">Phone Number</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-form-large " id="phone" type="tel" placeholder="123 456 7899" name="phone" value="<%= userPayload.phone %>" required>
                                        </div>
                                    </div>

                                    <div class="text-center mt-5">
                                        <button class="uk-button uk-button-primary main-text" type="submit" id="sendButton"><span uk-icon="sign-in"></span> Update</button>
                                    </div> 
                                </form>
                            </li>
                            <!-- END SECTION : UPDATE CONTACT DETAILS -->

                            <!-- BEGIN SECTION : UPDATE PASSWORD -->
                            <li>
                                <h2 class="main-text">Update Password</h2>
                                <form action="" class="uk-form-horizontal" method="POST">
                                    <input value="<%= userPayload._id %>" name="id" hidden>
                                    <input value="update password" name="action" hidden>
                                    <!-- PASSWORD -->
                                    <div class="mb-3">
                                        <label class="uk-form-label uk-text-large" for="password">New Password</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-form-large " id="password" type="password" placeholder="New Password" name="password" required>
                                        </div>
                                    </div>

                                    <div class="text-center mt-5">
                                        <button class="uk-button uk-button-primary main-text" type="submit" id=""><span uk-icon="sign-in"></span> Update</button>
                                    </div>  
                                </form>
                            </li>
                            <!-- END SECTION : UPDATE PASSWORD -->



                            <!-- BEGIN SECTION : BECOME A TUTOR -->
                            <li>
                                <% if( userPayload.userType == 'student') { %>
                                    <h2 class="main-text">Become a Tutor</h2>
                                <% } else { %>
                                    <h2 class="main-text">Update Tutorial Services</h2>
                                <% } %>

                                <form action="" class="uk-form-horizontal" method="POST">

                                    <input value="<%= userPayload._id %>" name="id" hidden>
                                    <input value="register / update tutor" name="action" hidden>

                                    <!-- PERSONAL BACKGROUND AND RESUME -->
                                    <div class="uk-margin">
                                        <div class="uk-text-large">Personal Background and Resume:</div>
                                        <textarea class="uk-textarea uk-form-large" id="background" name="background" rows="8"><%= userPayload.background %></textarea>
                                    </div> 
                                  
                                    <!-- SERVICES PROVIDED -->
                                    <div class="uk-margin">
                                        <label class="uk-form-label uk-text-large" for="subject">Subject</label>
                                        <div class="uk-form-controls">
                                            <select class="uk-select uk-form-large" id="subject" name="subject">
                                                <% if( userPayload.subject == '') { %>
                                                    <option hidden disabled selected value> -- Select an Option -- </option>
                                                    <option value="PE" >PE</option>
                                                    <option value="Math">Math</option>
                                                    <option value="French">French</option>
                                                    <option value="ESL">ESL</option>
                                                    <option value="Coding">Coding</option>
                                                    <option value="Music">Music</option>
                                                    <option value="Art">Art</option>
                                                    <option value="Science">Science</option>
                                                <% } %>
                                                <% if( userPayload.subject == 'PE') { %>
                                                    <option value="PE" selected>PE</option>
                                                    <option value="Math">Math</option>
                                                    <option value="French">French</option>
                                                    <option value="ESL">ESL</option>
                                                    <option value="Coding">Coding</option>
                                                    <option value="Music">Music</option>
                                                    <option value="Art">Art</option>
                                                    <option value="Science">Science</option>
                                                <% } %>
                                                <% if( userPayload.subject == 'Math') { %>
                                                    <option value="PE">PE</option>
                                                    <option value="Math" selected>Math</option>
                                                    <option value="French">French</option>
                                                    <option value="ESL">ESL</option>
                                                    <option value="Coding">Coding</option>
                                                    <option value="Music">Music</option>
                                                    <option value="Art">Art</option>
                                                    <option value="Science">Science</option>
                                                <% } %>
                                                <% if( userPayload.subject == 'French') { %>
                                                    <option value="PE">PE</option>
                                                    <option value="Math">Math</option>
                                                    <option value="French" selected>French</option>
                                                    <option value="ESL">ESL</option>
                                                    <option value="Coding">Coding</option>
                                                    <option value="Music">Music</option>
                                                    <option value="Art">Art</option>
                                                    <option value="Science">Science</option>
                                                <% } %>
                                                <% if( userPayload.subject == 'ESL') { %>
                                                    <option value="PE">PE</option>
                                                    <option value="Math">Math</option>
                                                    <option value="French">French</option>
                                                    <option value="ESL" selected>ESL</option>
                                                    <option value="Coding">Coding</option>
                                                    <option value="Music">Music</option>
                                                    <option value="Art">Art</option>
                                                    <option value="Science">Science</option>
                                                <% } %>
                                                <% if( userPayload.subject == 'Coding') { %>
                                                    <option value="PE">PE</option>
                                                    <option value="Math">Math</option>
                                                    <option value="French">French</option>
                                                    <option value="ESL">ESL</option>
                                                    <option value="Coding" selected>Coding</option>
                                                    <option value="Music">Music</option>
                                                    <option value="Art">Art</option>
                                                    <option value="Science">Science</option>
                                                <% } %>
                                                <% if( userPayload.subject == 'Music') { %>
                                                    <option value="PE">PE</option>
                                                    <option value="Math">Math</option>
                                                    <option value="French">French</option>
                                                    <option value="ESL">ESL</option>
                                                    <option value="Coding">Coding</option>
                                                    <option value="Music" selected>Music</option>
                                                    <option value="Art">Art</option>
                                                    <option value="Science">Science</option>
                                                <% } %>
                                                <% if( userPayload.subject == 'Art') { %>
                                                    <option value="PE">PE</option>
                                                    <option value="Math">Math</option>
                                                    <option value="French">French</option>
                                                    <option value="ESL">ESL</option>
                                                    <option value="Coding">Coding</option>
                                                    <option value="Music">Music</option>
                                                    <option value="Art" selected>Art</option>
                                                    <option value="Science">Science</option>
                                                <% } %>
                                                <% if( userPayload.subject == 'Science') { %>
                                                    <option value="PE">PE</option>
                                                    <option value="Math">Math</option>
                                                    <option value="French">French</option>
                                                    <option value="ESL">ESL</option>
                                                    <option value="Coding">Coding</option>
                                                    <option value="Music">Music</option>
                                                    <option value="Art">Art</option>
                                                    <option value="Science" selected>Science</option>
                                                <% } %>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- PREFERRED HOURS -->
                                    <div class="uk-margin">
                                        <label class="uk-form-label uk-text-large" for="rate">Hourly Rate</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-form-large" id="rate" name="rate" type="number" min="0" max="70" step="0.01" placeholder="$15 per hour" value="<%= userPayload.hourlyRate %>">
                                        </div>
                                    </div>

                                    <!-- LOCATION -->
                                    <div class="uk-margin">
                                        <div class="uk-form-label uk-text-large "> Location</div>
                                        <div class="uk-form-controls uk-form-controls-text">
                                            <% if( userPayload.locations.includes("Online") == true) { %>
                                                <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="locations" value="Online" checked> Online</label>
                                             <% } else { %>
                                                <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="locations" value="Online"> Online</label>
                                             <% } %>
                                             <% if( userPayload.locations.includes("Offline") == true) { %>
                                                 <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="locations" value="Offline" checked> Offline</label>
                                             <% } else { %>
                                                <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="locations" value="Offline"> Offline</label>
                                            <% } %>
                                        </div>
                                    </div>
 
                                    <!-- PREFERRED DAYS -->
                                    <div class="uk-margin">
                                        <div class="uk-form-label uk-text-large">Preferred Days</div>
                                        <div class="uk-form-controls uk-form-controls-text">
                                            <% if( userPayload.preferredDays.includes("Monday") == true) { %>
                                                <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="days" value="Monday" checked> Monday</label>
                                             <% } else { %>
                                                <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="days" value="Monday"> Monday</label>
                                             <% } %>
                                             <% if( userPayload.preferredDays.includes("Tuesday") == true) { %>
                                                <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="days" value="Tuesday" checked> Tuesday</label>
                                             <% } else { %>
                                                <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="days" value="Tuesday"> Tuesday</label>
                                             <% } %>
                                             <% if( userPayload.preferredDays.includes("Wednesday") == true) { %>
                                                <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="days" value="Wednesday" checked> Wednesday</label>
                                             <% } else { %>
                                                <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="days" value="Wednesday"> Wednesday</label>
                                             <% } %>
                                             <% if( userPayload.preferredDays.includes("Thursday") == true) { %>
                                                <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="days" value="Thursday" checked> Thursday</label>
                                             <% } else { %>
                                                <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="days" value="Thursday"> Thursday</label>
                                             <% } %>
                                             <% if( userPayload.preferredDays.includes("Friday") == true) { %>
                                                <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="days" value="Friday" checked> Friday</label>
                                             <% } else { %>
                                                <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="days" value="Friday"> Friday</label>
                                             <% } %>
                                             <% if( userPayload.preferredDays.includes("Saturday") == true) { %>
                                                <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="days" value="Saturday" checked> Saturday</label>
                                             <% } else { %>
                                                <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="days" value="Saturday"> Saturday</label>
                                             <% } %>
                                             <% if( userPayload.preferredDays.includes("Sunday") == true) { %>
                                                <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="days" value="Sunday" checked> Sunday</label>
                                             <% } else { %>
                                                <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="days" value="Sunday"> Sunday</label>
                                             <% } %>
                                        </div>
                                    </div>

                                    <!-- PREFERRED HOURS -->
                                    <div class="uk-margin">
                                        <div class="uk-form-label uk-text-large">Preferred Hours</div>
                                        <div class="uk-form-controls uk-form-controls-text">
                                            <% if( userPayload.preferredHours.includes("Morning") == true) { %>
                                                <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="hours" value="Morning" checked> Morning</label>
                                             <% } else { %>
                                                <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="hours" value="Morning"> Morning</label>
                                             <% } %>
                                             <% if( userPayload.preferredHours.includes("Afternoon") == true) { %>
                                                <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="hours" value="Afternoon" checked> Afternoon</label>
                                             <% } else { %>
                                                <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="hours" value="Afternoon"> Afternoon</label>
                                             <% } %>
                                             <% if( userPayload.preferredHours.includes("Evening") == true) { %>
                                                <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="hours" value="Evening" checked> Evening</label>
                                             <% } else { %>
                                                <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="hours" value="Evening"> Evening</label>
                                             <% } %>
                                        </div>
                                    </div>
                                    
                                    <!-- LEVELS -->
                                    <div class="uk-margin">
                                        <div class="uk-form-label uk-text-large">Levels</div>
                                        <div class="uk-form-controls uk-form-controls-text">
                                            <% if( userPayload.academicLevels.includes("Tertiary") == true) { %>
                                                <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="levels" value="Tertiary" checked> College Level and Above</label>
                                             <% } else { %>
                                                <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="levels" value="Tertiary"> College Level and Above</label>
                                             <% } %>
                                             <% if( userPayload.academicLevels.includes("highSec") == true) { %>
                                                <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="levels" value="highSec" checked> High School</label>
                                             <% } else { %>
                                                <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="levels" value="highSec"> High School</label>
                                             <% } %>
                                             <% if( userPayload.academicLevels.includes("lowSec") == true) { %>
                                                <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="levels" value="lowSec" checked> Junior High</label>
                                             <% } else { %>
                                                <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="levels" value="lowSec"> Junior High</label>
                                             <% } %>
                                             <% if( userPayload.academicLevels.includes("elementary") == true) { %>
                                                <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="levels" value="elementary" checked> Elementary</label>
                                             <% } else { %>
                                                <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="levels" value="elementary"> Elementary</label>
                                             <% } %>
                                        </div>
                                    </div>
                                    
                                    <!-- PROFILE BANNER -->
                                    <div class="uk-margin">
                                        <label class="uk-form-label uk-text-large" for="banner">Profile Banner</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-form-large" id="banner" name="banner" type="text" placeholder="I specialize in teaching..." 
                                            value="<%= userPayload.banner %>">
                                        </div>
                                    </div>

                                    <!-- TEACHING METHODOLOGY -->
                                    <div class="uk-margin">
                                        <div class="uk-text-large">Your Teaching Methodology:</div>
                                        <textarea class="uk-textarea uk-form-large" id="methodology" name="methodology" rows="8"><%= userPayload.methodology %></textarea>
                                    </div> 

                                    <div class="text-center mt-5">
                                        <button class="uk-button uk-button-primary main-text" type="submit" id=""><span uk-icon="sign-in"></span> Update</button>
                                    </div>  
                                </form>
                            </li>
                        
                            <!-- END SECTION : BECOME A TUTOR -->
                        </ul>
                </div>
            </div>
        </div>
    </div>