<main uk-scrollspy="target: > div.animated; cls: uk-animation-slide-bottom-medium; delay: 100; repeat: true">
    <div class="uk-container my-5 animated">

        <!-- MESSAGE AREA -->
        <%- include ../partials/messages.ejs %>
        
        <h1 class="main-text text-center">Welcome <%= userPayload.firstName %>!</h1>

        <a class="btn btn-outline-warning btn-lg btn-block">Become a Tutor!</a>

        <!-- STUDENT UPDATE FORM -->        
        <form class="uk-form-horizontal my-5 w-75 d-block mx-auto" method="POST" autocomplete="off">
                
            <div class="uk-card uk-card-default uk-card-hover uk-card-body mb-5 text-center">
                <img class="uk-border-circle w-50" src="/Assets/images/portrait1.jpg" alt="">
                <div class="text-center mt-4">
                    <div uk-form-custom>
                        <input type="file" accept="image/*">
                        <button class="uk-button uk-button-secondary main-text" type="button" tabindex="-1" name="photo" id="photo">Choose Your Best Photo</button>
                    </div>
                    <a class="uk-button uk-button-primary main-text" href="" id="sendButton"><span uk-icon="pencil"></span> Update Photo</a>
                </div>  
            </div>
                
            <h1 class="main-text text-center">Your Account Details</h1>

            <div class="uk-card uk-card-default uk-card-hover uk-card-body mb-5">
                <!-- FIRSTNAME -->
                <div class="mb-3">
                    <label class="uk-form-label uk-text-large" for="firstName">First Name</label>
                    <div class="uk-form-controls">
                        <input class="uk-form-large " id="firstName" type="text" name="firstName" value="<%= userPayload.firstName %>" required>
                    </div>
                </div>

                <!-- LASTNAME -->
                <div class="mb-3">
                    <label class="uk-form-label uk-text-large" for="lastName">Last Name</label>
                    <div class="uk-form-controls">
                        <input class="uk-form-large " id="lastName" type="text" name="lastName" value="<%= userPayload.lastName %>" required>
                    </div>
                </div>

                <!-- EMAIL -->
                <div class="mb-3">
                    <label class="uk-form-label uk-text-large" for="email">Email</label>
                    <div class="uk-form-controls">
                        <input class="uk-form-large " id="email" type="email" name="email" value="<%= userPayload.email %>" required>
                    </div>
                </div>

                <!-- PASSWORD -->
                <div class="mb-3">
                    <label class="uk-form-label uk-text-large" for="password">New Password</label>
                    <div class="uk-form-controls">
                        <input class="uk-form-large " id="password" type="password" placeholder="New Password" name="password" required>
                    </div>
                </div>

                <!-- TELEPHONE -->
                <div class="mb-3">
                    <label class="uk-form-label uk-text-large" for="phone">Phone Number</label>
                    <div class="uk-form-controls">
                        <input class="uk-form-large " id="phone" type="tel" placeholder="123 456 7899" name="phone" value="<%= userPayload.phone %>" required>
                    </div>
                </div>

                <!-- UPDATE AND CANCEL -->
                <div class="text-center mt-5">
                    <button class="uk-button uk-button-primary main-text" type="submit" id="sendButton"><span uk-icon="sign-in"></span> Update</button>
                    <button class="uk-button uk-button-danger main-text" type="reset"><span uk-icon="sign-in"></span> Cancel</button>
                </div>  
            </div>
            <!-- END SECTION : STUDENT FORM  -->
 

    
            <!-- TUTOR UPDATE FORM -->
            <h1 class="main-text text-center">Tutor Details</h1>

            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <!-- PERSONAL BACKGROUND AND RESUME -->
                <div class="uk-margin">
                    <div class="uk-text-large">Personal Background and Resume:</div>
                    <textarea class="uk-textarea uk-form-large" id="background" name="background" rows="8"></textarea>
                </div> 

                <!-- SERVICES PROVIDED -->
                <div class="uk-margin">
                    <label class="uk-form-label uk-text-large" for="subject">Subject</label>
                    <div class="uk-form-controls">
                        <select class="uk-select uk-form-large" id="subject" name="subject">
                            <option hidden disabled selected value> -- Select an Option -- </option>
                            <option value="PE">PE</option>
                            <option value="Math">Math</option>
                            <option value="French">French</option>
                            <option value="ESL">ESL</option>
                            <option value="Coding">Coding</option>
                            <option value="Music">Music</option>
                            <option value="Art">Art</option>
                            <option value="Science">Science</option>
                        </select>
                    </div>
                </div>

                <!-- PREFERRED HOURS -->
                <div class="uk-margin">
                    <label class="uk-form-label uk-text-large" for="rate">Hourly Rate</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-form-large" id="rate" name="rate" type="number" min="0" max="70" step="0.01" placeholder="$15 per hour">
                    </div>
                </div>

                <!-- LOCATION -->
                <div class="uk-margin">
                    <div class="uk-form-label uk-text-large "> Location</div>
                    <div class="uk-form-controls uk-form-controls-text">
                        <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="times" value="Online"> Online</label>
                        <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="times" value="Offline"> Offline</label>
                    </div>
                </div>

                <!-- PREFERRED DAYS -->
                <div class="uk-margin">
                    <div class="uk-form-label uk-text-large">Preferred Days</div>
                    <div class="uk-form-controls uk-form-controls-text">
                        <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="times" value="Monday"> Monday</label>
                        <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="days" value="Tuesday"> Tuesday</label>
                        <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="days" value="Wednesday"> Wednesday</label>
                        <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="days" value="Thursday"> Thursday</label>
                        <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="days" value="Friday"> Friday</label>
                        <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="days" value="Saturday"> Saturday</label>
                        <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="days" value="Sunday"> Sunday</label>
                    </div>
                </div>

                <!-- PREFERRED HOURS -->
                <div class="uk-margin">
                    <div class="uk-form-label uk-text-large">Preferred Hours</div>
                    <div class="uk-form-controls uk-form-controls-text">
                        <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="hours" value="Morning"> Morning</label>
                        <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="hours" value="Afternoon"> Afternoon</label>
                        <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="hours" value="Evening"> Evening</label>
                    </div>
                </div>
                
                <!-- LEVELS -->
                <div class="uk-margin">
                    <div class="uk-form-label uk-text-large">Levels</div>
                    <div class="uk-form-controls uk-form-controls-text">
                        <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="levels" value="Tertiary"> College Level and Above</label>
                        <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="levels" value="highSec"> High School</label>
                        <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="levels" value="lowSec"> Junior High</label>
                        <label class="main-text"><input class="uk-checkbox" type="checkbox"  name="levels" value="elementary"> Elementary</label>
                    </div>
                </div>
                
                <!-- PROFILE BANNER -->
                <div class="uk-margin">
                    <label class="uk-form-label uk-text-large" for="banner">Profile Banner</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-form-large" id="banner" name="banner" type="text" placeholder="I specialize in teaching...">
                    </div>
                </div>

                <!-- TEACHING METHODOLOGY -->
                <div class="uk-margin">
                    <div class="uk-text-large">Your Teaching Methodology:</div>
                    <textarea class="uk-textarea uk-form-large" id="methodology" name="methodology" rows="8"></textarea>
                </div> 

                <!-- UPDATE AND CANCEL -->
                <div class="text-center mt-5">
                    <button class="uk-button uk-button-primary main-text" type="submit" id="sendButton"><span uk-icon="sign-in"></span> Update</button>
                    <button class="uk-button uk-button-danger main-text" type="reset"><span uk-icon="sign-in"></span> Cancel</button>
                </div>  
            </div>
        </form> 
        <!-- END SECTION : TUTOR FORM  -->
        
    </div>
</main> 